<img src="https://github.com/danielscarvalho/data/blob/master/img/FIAP-logo.png?raw=True" style="float:right;" width="200px">

# DATA SCIENCE & STATISTICAL COMPUTING [》](https://www.fiap.com.br/)

## Dataframe & Python

### LAP Parte 1: “10 minutes to pandas"

https://pandas.pydata.org/docs/user_guide/10min.html

Sugestão: Colocar a página do Cookbook lado a lado com este notebook para realizar as operações.

In [1]:
import numpy as np
import pandas as pd

In [3]:
pd.show_versions()

INSTALLED VERSIONS
------------------
commit              : a671b5a8bf5dd13fb19f0e88edc679bc9e15c673
python              : 3.11.7.final.0
python-bits         : 64
OS                  : Windows
OS-release          : 10
Version             : 10.0.19045
machine             : AMD64
processor           : AMD64 Family 25 Model 80 Stepping 0, AuthenticAMD
byteorder           : little
LC_ALL              : None
LANG                : None
LOCALE              : pt_BR.cp1252

pandas              : 2.1.4
numpy               : 1.26.4
pytz                : 2023.3.post1
dateutil            : 2.8.2
setuptools          : 68.2.2
pip                 : 23.3.1
Cython              : None
pytest              : 7.4.0
hypothesis          : None
sphinx              : 5.0.2
blosc               : None
feather             : None
xlsxwriter          : None
lxml.etree          : 4.9.3
html5lib            : None
pymysql             : None
psycopg2            : None
jinja2              : 3.1.3
IPython             : 8.20.0
pandas_datareader   : None
bs4                 : 4.12.2
bottleneck          : 1.3.7
dataframe-api-compat: None
fastparquet         : None
fsspec              : 2023.10.0
gcsfs               : None
matplotlib          : 3.8.0
numba               : 0.59.0
numexpr             : 2.8.7
odfpy               : None
openpyxl            : 3.0.10
pandas_gbq          : None
pyarrow             : 14.0.2
pyreadstat          : None
pyxlsb              : None
s3fs                : 2023.10.0
scipy               : 1.11.4
sqlalchemy          : 2.0.25
tables              : 3.9.2
tabulate            : 0.9.0
xarray              : 2023.6.0
xlrd                : None
zstandard           : 0.19.0
tzdata              : 2023.3
qtpy                : 2.4.1
pyqt5               : None

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates = pd.date_range("20130101", periods=10)

In [8]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(10, 4), index=dates, columns=list("ABCD"))

In [11]:
df

                   A         B         C         D
2013-01-01 -1.234900 -0.309165 -0.282355 -1.325626
2013-01-02  2.390141 -1.245293  1.019662  0.440952
2013-01-03 -2.370745 -2.373315  0.815735 -1.718348
2013-01-04 -0.884318 -0.498733  0.292772 -1.895865
2013-01-05  1.316053  0.364211 -1.144262  0.796794
2013-01-06  0.044784 -1.178212 -0.517338  1.061111
2013-01-07  0.017390 -0.350998  0.991050 -1.517910
2013-01-08  1.722521  0.739448 -0.600740 -0.177981
2013-01-09  1.262308  0.772707 -1.403355  0.971623
2013-01-10 -1.745454 -0.014660 -0.593726 -0.306602

In [12]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

In [13]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [14]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [15]:
df.head()

                   A         B         C         D
2013-01-01 -1.234900 -0.309165 -0.282355 -1.325626
2013-01-02  2.390141 -1.245293  1.019662  0.440952
2013-01-03 -2.370745 -2.373315  0.815735 -1.718348
2013-01-04 -0.884318 -0.498733  0.292772 -1.895865
2013-01-05  1.316053  0.364211 -1.144262  0.796794

In [16]:
df.tail(3)

                   A         B         C         D
2013-01-08  1.722521  0.739448 -0.600740 -0.177981
2013-01-09  1.262308  0.772707 -1.403355  0.971623
2013-01-10 -1.745454 -0.014660 -0.593726 -0.306602

In [17]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08',
               '2013-01-09', '2013-01-10'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
df.to_numpy()

array([[-1.3509695 ,  0.05930633, -1.15792379, -2.32749944],
       [-0.07277771,  0.02815074, -0.26899239, -0.1320202 ],
       [-0.1748286 , -0.35828549,  0.71964256, -1.91893882],
       [-0.33288993, -0.83049229, -0.7758045 , -0.11278454],
       [ 0.0039315 , -0.37646978, -0.31117877, -0.81555012],
       [-0.88459729, -1.75317217, -1.66371322,  1.2164945 ]])

In [15]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [16]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [17]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.468689 -0.538494 -0.576328 -0.681716
std    0.535968  0.677921  0.825197  1.302788
min   -1.350970 -1.753172 -1.663713 -2.327499
25%   -0.746670 -0.716987 -1.062394 -1.643092
50%   -0.253859 -0.367378 -0.543492 -0.473785
75%   -0.098290 -0.068458 -0.279539 -0.117593
max    0.003932  0.059306  0.719643  1.216495

In [18]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.350970   -0.072778   -0.174829   -0.332890    0.003932   -0.884597
B    0.059306    0.028151   -0.358285   -0.830492   -0.376470   -1.753172
C   -1.157924   -0.268992    0.719643   -0.775805   -0.311179   -1.663713
D   -2.327499   -0.132020   -1.918939   -0.112785   -0.815550    1.216495

In [19]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -2.327499 -1.157924  0.059306 -1.350970
2013-01-02 -0.132020 -0.268992  0.028151 -0.072778
2013-01-03 -1.918939  0.719643 -0.358285 -0.174829
2013-01-04 -0.112785 -0.775805 -0.830492 -0.332890
2013-01-05 -0.815550 -0.311179 -0.376470  0.003932
2013-01-06  1.216495 -1.663713 -1.753172 -0.884597

In [20]:
df.sort_values(by="B")

                   A         B         C         D
2013-01-06 -0.884597 -1.753172 -1.663713  1.216495
2013-01-04 -0.332890 -0.830492 -0.775805 -0.112785
2013-01-05  0.003932 -0.376470 -0.311179 -0.815550
2013-01-03 -0.174829 -0.358285  0.719643 -1.918939
2013-01-02 -0.072778  0.028151 -0.268992 -0.132020
2013-01-01 -1.350970  0.059306 -1.157924 -2.327499

In [21]:
df["A"]

2013-01-01   -1.350970
2013-01-02   -0.072778
2013-01-03   -0.174829
2013-01-04   -0.332890
2013-01-05    0.003932
2013-01-06   -0.884597
Freq: D, Name: A, dtype: float64

In [22]:
df[0:3]

                   A         B         C         D
2013-01-01 -1.350970  0.059306 -1.157924 -2.327499
2013-01-02 -0.072778  0.028151 -0.268992 -0.132020
2013-01-03 -0.174829 -0.358285  0.719643 -1.918939

In [23]:
df[1:-1]

                   A         B         C         D
2013-01-02 -0.072778  0.028151 -0.268992 -0.132020
2013-01-03 -0.174829 -0.358285  0.719643 -1.918939
2013-01-04 -0.332890 -0.830492 -0.775805 -0.112785
2013-01-05  0.003932 -0.376470 -0.311179 -0.815550

In [24]:
df

                   A         B         C         D
2013-01-01 -1.350970  0.059306 -1.157924 -2.327499
2013-01-02 -0.072778  0.028151 -0.268992 -0.132020
2013-01-03 -0.174829 -0.358285  0.719643 -1.918939
2013-01-04 -0.332890 -0.830492 -0.775805 -0.112785
2013-01-05  0.003932 -0.376470 -0.311179 -0.815550
2013-01-06 -0.884597 -1.753172 -1.663713  1.216495

In [25]:
df["20130102":"20130104"]

                   A         B         C         D
2013-01-02 -0.072778  0.028151 -0.268992 -0.132020
2013-01-03 -0.174829 -0.358285  0.719643 -1.918939
2013-01-04 -0.332890 -0.830492 -0.775805 -0.112785